*{
    margin:0;
    padding:0;
}

h1{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgb(34, 195, 101) 0%, rgb(233, 211, 101) 100%);
    font-size: 40px;
    color:darkblue;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(9,9,121,1) 42%, rgb(255, 0, 0) 100%);
    width: 100%;
    height: 100vh;
    text-align: center;
}

.container{
    padding: 0;
    margin: 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 450px;
    height:500px;
    margin-top: 40px;
    gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 0;
    padding: 0;
    width:130px;
    height:130px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 31%, rgba(148,187,233,1) 100%);
    font-size: 10vmin;
    color: #b0413e;
    
}

#reset-btn{
    margin-top: 30px;
    width:120px;
    height:40px;
    font-size: large;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(109, 34, 195) 0%, rgb(142, 191, 110) 100%);
    color: black;
    border: none;
    border-radius: 10px;
}

#new-btn{
    width:120px;
    height:40px;
    font-size: large;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(155, 34, 195) 0%, rgb(156, 191, 110) 100%);
    color:black;
    border-radius: 10px;
    border: none;
}

#msg{
    font-size: 8vmin;
    color:aliceblue;
}

.msg-container{
    height: 120px;
}

.hide{
    display: none;
}